@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  image-rendering: pixelated;
}

body {
  font-family: "Press Start 2P", "DungGeunMo", "맑은고딕", Arial, Helvetica;
  font-size: 16px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* 표준 문법 */
  color: #fff;
  background: #000;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: url("../images/cursor_pointer.webp"), auto;
}

.wrap {
  width: 1280px;
  height: 100vh;
  position: relative;
  margin: auto;
  background-size: cover !important;
  overflow: hidden;
  cursor: url("../images/cursor.webp"), auto;
}

h2 {
  text-align: center;
  font-size: 48px;
  text-shadow: 3px 3px #000;
}

@media (max-width: 1280px) and (min-width: 720px) {
  .wrap {
    width: 720px;
  }
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 719px) {
  .wrap {
    width: 100vw;
  }
  h2 {
    font-size: 1.2rem;
  }
}
.wrap {
  background: url("../images/bg_character_on.webp") no-repeat;
  min-height: 100vh;
  height: auto;
  position: relative;
  opacity: 0;
  animation: show 1s forwards;
  transition: background 0.3s;
}

@keyframes show {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
    filter: brightness(1.2);
  }
  100% {
    opacity: 100%;
  }
}
article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.btn {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 42px 10px auto;
}
.btn a {
  display: block;
  width: 150px;
  height: 55px;
  background: url(../images/back_btn.webp) no-repeat;
  background-size: 100%;
  text-align: center;
  line-height: 3.3;
  opacity: 0;
}
.btn a:hover {
  background: url("../images/back_btn_hover.webp") no-repeat;
  background-size: 100%;
}
.btn .show2 {
  animation: show2 0.5s forwards;
}

@keyframes show2 {
  100% {
    opacity: 100%;
  }
}
.info_box {
  opacity: 0;
  display: flex;
  justify-content: center;
}

.show2 {
  animation: show2 0.5s forwards;
}

.info1,
.info2 {
  position: relative;
  height: 664px;
}

.info1 {
  background: url(../images/info1.webp) center no-repeat;
  width: 480px;
}

.info2 {
  background: url(../images/info2.webp) center no-repeat;
  width: 742px;
}
.info2 #somter, .info2 #heejun {
  text-decoration: underline;
  color: #3eb8d0;
}

.cont1,
.cont2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.cont1 {
  width: 360px;
}
.cont1 span {
  background: #fff;
  color: #000;
  width: 60px;
  text-align: center;
  padding: 12px 8px 10px 10px;
}

.title {
  display: flex;
}
.title img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.title p {
  width: calc(100% - 80px);
  font-size: 18px;
}
.title p span {
  all: unset;
  display: block;
}
.title p span:first-of-type {
  font-size: 16px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
  background: #e3491b;
  padding: 12px 0 10px 14px;
}
.title p span:last-of-type {
  font-size: 22px;
  padding: 8px 14px;
  letter-spacing: 10px;
}

.somter {
  background: #e21a92 !important;
}

.photo {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  margin: 16px auto;
}

.hp,
.mp {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mp {
  margin: 4px 0 5px;
}

.heart,
.magic {
  display: flex;
}
.heart img,
.magic img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.heart {
  height: 40px;
}
.heart img {
  margin: 0 5px;
}

.magic {
  height: 48px;
}
.magic img {
  margin: 0 0.8px;
}

.atk {
  display: flex;
  justify-content: space-between;
}
.atk p {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 48%;
}
.atk p span {
  display: inline-block;
}

.cont2 {
  width: 630px;
  height: 550px;
  padding-right: 25px;
  overflow: scroll;
  overflow-x: hidden;
}
.cont2 h3 {
  padding: 12px 0 10px 14px;
  background: #e3491b;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
  width: 35%;
  letter-spacing: 3px;
}
.cont2 p {
  font-family: "DungGeunMo";
  line-height: 1.5;
  margin: 20px 0;
}
.cont2 .item {
  margin: 20px 0;
}
.cont2 .item p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.cont2 .item p img {
  width: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont2 .item p span {
  display: block;
  margin-left: auto;
  font-size: 20px;
}
.cont2 .item p .dot {
  margin-bottom: 6px;
}
.cont2 .skill {
  font-family: "DungGeunMo";
  font-size: 20px;
  margin-top: 20px;
}
.cont2 .skill li {
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 10px 0;
  letter-spacing: 1px;
}
.cont2 .skill li:nth-child(2n) {
  background: rgba(227, 73, 27, 0.2);
  padding: 10px;
  font-size: 16px;
}
.cont2 .skill li img {
  width: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont2 .skill li div {
  position: absolute;
  left: 45%;
}
.cont2 .skill li div .star {
  width: 32px;
}
.cont2 .skill li span {
  margin-left: auto;
}
.cont2 .skill .somter_skill {
  background: rgba(226, 26, 146, 0.2) !important;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  background: #ccc;
}
.scroll::-webkit-scrollbar-track {
  background: rgba(204, 204, 204, 0.2);
}
.scroll::-webkit-scrollbar-corner {
  background: transparent;
}

@media (max-width: 1280px) and (min-width: 720px) {
  .btn {
    margin: 5% 4% 0 auto;
  }
  .btn a {
    width: 130px;
    height: 48px;
    line-height: 2.7;
    top: 5px;
    right: 2px;
  }
  article {
    position: static;
    transform: unset;
  }
  .info_box {
    display: block;
  }
  .info1 {
    width: 95%;
    margin: auto;
    background: url(../images/info2.webp) center no-repeat;
    background-size: contain;
  }
  .info1 .cont1 {
    width: 85%;
    height: 76%;
  }
  .info1 .cont1 span {
    padding: 6px 6px 5px 9px;
  }
  .info1 .cont1 .photo {
    width: 268px;
  }
  .info2 {
    width: 95%;
    margin: -8% auto 0;
    background-size: contain;
  }
  .info2 .cont2 {
    width: 88%;
    height: 76%;
  }
  .info2 .cont2 .item p img {
    width: 56px;
  }
}
@media (max-width: 719px) {
  .btn {
    margin: 5% 4% 0 auto;
  }
  .btn a {
    width: 90px;
    height: 33px;
    right: 0;
    font-size: 0.9rem;
    line-height: 2.2;
  }
  article {
    position: static;
    transform: unset;
  }
  .info_box {
    display: block;
  }
  .info1 {
    width: 100%;
    height: 574px;
    background: url(../images/info1.webp) center no-repeat;
    background-size: contain;
  }
  .info1 .cont1 {
    width: 80%;
    height: 76%;
  }
  .info1 .cont1 span {
    padding: 6px 0px 4px 4px;
  }
  .info1 .cont1 .title img {
    width: 60px;
    height: 60px;
  }
  .info1 .cont1 .title p {
    width: calc(100% - 60px);
  }
  .info1 .cont1 .title p span {
    font-size: 1rem;
  }
  .info1 .cont1 .title p span:first-of-type {
    padding: 7px 0 7px 12px;
  }
  .info1 .cont1 .title p span:last-of-type {
    padding: 6px 12px;
    letter-spacing: 8px;
  }
  .info1 .cont1 .photo {
    width: 232px;
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .info1 .cont1 .status {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .info1 .cont1 .hp, .info1 .cont1 .mp {
    gap: 6px;
  }
  .info1 .cont1 .heart {
    height: 30px;
  }
  .info1 .cont1 .magic {
    height: 38px;
  }
  .info2 {
    width: 100%;
    height: 574px;
    background: url(../images/info1.webp) center no-repeat;
    background-size: contain;
    margin-top: -2%;
  }
  .info2 .cont2 {
    width: 80%;
    height: 76%;
  }
  .info2 .cont2 h3 {
    width: calc(100% - 12px);
    padding: 8px 0 7px 12px;
  }
  .info2 .cont2 p {
    font-size: 0.9rem;
  }
  .info2 .cont2 .item p img {
    width: 56px;
  }
  .info2 .cont2 .item p .dot {
    display: none;
  }
  .info2 .cont2 .skill li {
    flex-wrap: wrap;
    margin: 0;
  }
  .info2 .cont2 .skill li:nth-child(2n) {
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
  .info2 .cont2 .skill li img {
    width: 48px;
  }
  .info2 .cont2 .skill li div {
    position: static;
  }
  .info2 .cont2 .skill li div img {
    width: 28px;
  }
  .info2 .cont2 .skill li span {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=character_info.css.map */