@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Press Start 2P", "DungGeunMo", "맑은고딕", Arial;
  font-size: 16px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* 표준 문법 */
  background: #000;
}

a {
  text-decoration: none;
}

.wrap {
  width: 1280px;
  height: 100vh;
  position: relative;
  margin: auto;
  background: #007979;
}
.wrap .bg {
  position: absolute;
  right: 30px;
  bottom: 60px;
  opacity: 50%;
}

.icon_box {
  padding: 25px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.icon_box ul {
  color: #fff;
  text-align: center;
  font-family: "DungGeunMo";
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  width: 120px;
  height: 95%;
  align-items: center;
  cursor: pointer;
}
.icon_box ul li {
  height: 120px;
  width: 100%;
}
.icon_box ul li img {
  display: block;
  margin: auto;
  width: 86px;
}
.icon_box .design {
  position: absolute;
  right: 20px;
  top: 25px;
}

.mygame {
  position: relative;
  font-size: 18px;
  animation: updown 0.5s step-end infinite;
}
.mygame img {
  width: 60px !important;
  margin: 20px auto 6px !important;
}
.mygame .click_me {
  width: 166px;
  height: 75px;
  background: url(../images/speech_bubble.webp) center no-repeat;
  background-size: contain;
  text-align: center;
  position: absolute;
  left: 100px;
  bottom: 45px;
  color: #000;
  font-size: 18px;
  padding-top: 23px;
  animation: updown 0.5s step-end infinite;
}

@keyframes updown {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.click {
  outline: 1px dashed #ccc;
  background: #006969;
}

.myfolder_folder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: #ccc;
  padding: 4px;
  z-index: 10;
  display: none;
}
.myfolder_folder .btn_bar p {
  margin-bottom: 5px;
}
.myfolder_folder .btn_box button {
  display: block;
  width: 21.5px;
  height: 21.5px;
  padding: 0;
  font-weight: bold;
}
.myfolder_folder .btn_box button:nth-of-type(2) span {
  display: block;
  border: 2px solid #000;
  border-top: 4px solid #000;
  width: 12px;
  height: 9px;
  margin: auto;
}
.myfolder_folder .btn_box .folder_screen_down span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #000;
  margin-bottom: -2px;
}
.myfolder_folder .border {
  border: 1.9px solid rgba(0, 0, 0, 0.3);
  border-bottom: 0;
  margin-bottom: 4px;
}
.myfolder_folder .border .setting {
  display: flex;
  border-left: 1.9px solid #fff;
  border-top: 1.9px solid #fff;
  border-bottom: 1.9px solid rgba(0, 0, 0, 0.5);
}
.myfolder_folder .border .setting span {
  display: block;
  padding: 4px 15px;
  margin-bottom: 6px;
}
.myfolder_folder .border .setting span:hover {
  filter: brightness(-1);
}
.myfolder_folder .second button {
  display: block;
  border: none;
  background: #ccc;
  font-family: "DungGeunMo";
  font-size: 16px;
  padding: 20px;
}
.myfolder_folder .second button:nth-of-type(3), .myfolder_folder .second button:nth-of-type(6), .myfolder_folder .second button:nth-of-type(7) {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.myfolder_folder .second button:nth-of-type(4), .myfolder_folder .second button:nth-of-type(7), .myfolder_folder .second button:nth-of-type(8) {
  border-left: 1px solid #fff;
}
.myfolder_folder .third {
  position: relative;
  display: flex;
  align-items: center;
}
.myfolder_folder .third label {
  padding: 4px 15px;
  margin-bottom: 6px;
}
.myfolder_folder .third input {
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 0;
  width: calc(100% - 64px);
  height: 24px;
  box-sizing: border-box;
  padding-left: 6px;
  font-family: "DungGeunMo";
}
.myfolder_folder .third button {
  position: absolute;
  right: 3px;
  bottom: 2px;
  width: 24px;
  height: 24px;
}
.myfolder_folder .third button img {
  width: 6px;
  filter: grayscale(1) brightness(0);
  transform: rotate(90deg);
}
.myfolder_folder .folder_screen {
  width: 100%;
  height: calc(100% - 184px);
  background: #fff;
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 1px solid #000;
  box-sizing: border-box;
}
.myfolder_folder .folder_screen ul {
  display: flex;
  gap: 10px;
  font-family: "DungGeunMo";
  text-align: center;
  padding: 20px;
}
.myfolder_folder .folder_screen ul li {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.myfolder_folder .folder_screen ul li img {
  width: 100%;
  margin-top: -10px;
}
.myfolder_folder .folder_screen ul li p {
  margin-top: -20px;
}
.myfolder_folder .folder_bottom {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 0 2px;
  display: flex;
}
.myfolder_folder .folder_bottom span {
  display: block;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
.myfolder_folder .folder_bottom span:nth-of-type(1) {
  width: 45%;
}
.myfolder_folder .folder_bottom span:nth-of-type(2) {
  width: 20%;
}
.myfolder_folder .folder_bottom span:nth-of-type(3) {
  width: 35%;
  padding-left: 6px;
  font-size: 14px;
}

.folder_click {
  border: 1px dashed #ccc;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.modal .game {
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 720px;
  background: #ccc;
  padding: 4px;
}

.btn_bar {
  background: #02007e;
  color: #fff;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_bar p {
  margin: 2px 0 0 8px;
}
.btn_bar .btn_box {
  display: flex;
  gap: 4px;
  margin-right: 3px;
}
.btn_bar .btn_box div {
  background: #ccc;
  width: 24px;
  height: 24px;
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.5);
  color: #000;
  text-align: center;
  position: relative;
}
.btn_bar .close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  cursor: pointer;
}

.screen_down::after {
  content: "";
  width: 18px;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 5px;
  left: 3px;
}

.screen {
  background: url(../images/bg_intro.webp) repeat-y;
  background-size: 1280px 720px;
  width: 100%;
  height: calc(100% - 30px);
  position: relative;
  color: #fff;
  text-align: center;
  animation: movebg 10s linear infinite;
}
@keyframes movebg {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center 720px;
  }
}
.screen .score {
  float: left;
  line-height: 1.5;
  padding: 30px 0 0 30px;
}
.screen .stage {
  float: right;
  line-height: 1.5;
  padding: 30px 30px 0 0;
}
.screen .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 76%;
  height: 50%;
}
.screen .center img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.screen .start_txt {
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
  font-size: 22px;
  color: #e21a92;
  animation: blink 1s step-end infinite;
}
.screen ul {
  display: none;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 2;
}
.screen ul li {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: rgba(226, 26, 146, 0.5);
  cursor: pointer;
}
.screen ul .blink {
  animation: blink 0.1s step-end infinite;
}
.screen .select {
  color: #e21a92;
  position: relative;
}
.screen .select:after {
  content: url("../images/select_small.webp");
  position: absolute;
  left: -30px;
  top: -3px;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.screen footer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
}

.window {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  background: #ccc;
  position: absolute;
  bottom: 0;
  padding: 2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
}

.start {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
}
.start img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1px 5px 0 0;
}
.start span {
  display: inline-block;
  transform: translateY(-2px);
}

.quick_icon {
  display: flex;
  align-items: center;
}

.time {
  font-size: 12px;
  line-height: 20px;
  padding: 0 6px;
  box-sizing: border-box;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
}
.time .period {
  display: inline-block;
  font-size: 16px;
  transform: translateY(-1px);
}
.time:before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  height: 100%;
  width: 1px;
  background: #888;
  border-right: 1px solid #fff;
}

.m_icon_box {
  display: none;
}

@media (max-width: 1280px) and (min-width: 720px) {
  .wrap {
    width: 720px;
  }
  .wrap .bg {
    width: 330px;
  }
  .icon_box ul {
    width: 80px;
    font-size: 14px;
    gap: 10px;
  }
  .icon_box ul li {
    height: 100px;
  }
  .icon_box ul li img {
    width: 60px;
  }
  .mygame {
    font-size: 14px;
  }
  .mygame img {
    width: 40px !important;
  }
  .mygame .click_me {
    width: 130px;
    height: 66px;
    font-size: 16px;
    left: 65px;
    bottom: 36px;
  }
  .myfolder_folder .setting {
    font-size: 14px;
  }
  .myfolder_folder .second button {
    font-size: 14px;
    padding: 15px;
  }
  .myfolder_folder .folder_screen {
    height: calc(100% - 168px);
  }
  .modal .game {
    width: 550px;
    top: calc(50% - 10px);
  }
  .screen .select::after {
    top: 0;
  }
  .screen .start_txt {
    font-size: 18px;
    bottom: 185px;
  }
  .screen footer {
    width: inherit;
    bottom: 25px;
    font-size: 14px;
    line-height: 1.5;
  }
  .screen footer address {
    padding: 5px;
  }
  .screen ul {
    bottom: 35px;
    font-size: 18px;
  }
}
@media (max-width: 719px) {
  .wrap {
    width: 100vw;
  }
  .wrap .bg {
    width: 180px;
    right: 15px;
    bottom: 50px;
  }
  .icon_box {
    display: none;
  }
  .m_icon_box {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    font-family: "DungGeunMo";
    color: #fff;
  }
  .m_icon_box ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 68px;
    height: 96%;
    font-size: 0.8rem;
  }
  .m_icon_box ul li {
    height: 66px;
    width: 100%;
    line-height: 0.9;
    text-align: center;
  }
  .m_icon_box ul li img {
    display: block;
    width: 46px;
    margin: auto;
  }
  .myfolder_folder {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }
  .myfolder_folder .border .setting {
    font-size: 0.8rem;
  }
  .myfolder_folder .border .setting span {
    padding: 4px 8px;
  }
  .myfolder_folder .border .second {
    display: none;
  }
  .myfolder_folder .folder_screen {
    height: calc(100% - 120px);
  }
  .myfolder_folder .folder_screen ul {
    padding: 10px;
  }
  .mygame {
    font-size: 0.8rem;
  }
  .mygame img {
    width: 30px !important;
  }
  .mygame .click_me {
    width: 95px;
    height: 58px;
    font-size: 0.8rem;
    left: 55px;
    bottom: 5px;
    line-height: 1.1;
  }
  .modal .game {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: unset;
    box-sizing: border-box;
  }
  .screen .select::after {
    top: 0;
  }
  .screen .score, .screen .stage {
    font-size: 0.8rem;
  }
  .screen .start_txt {
    font-size: 1rem;
    width: 100%;
    line-height: 1.5;
    bottom: unset;
    top: 40%;
  }
  .screen footer {
    width: inherit;
    bottom: 25px;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .screen footer address {
    padding: 5px;
  }
  .screen ul {
    bottom: 70px;
    font-size: 1rem;
  }
}/*# sourceMappingURL=index.css.map */